@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

header {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid 1px #999;
}
h1{
    font-family: 'Italianno', cursive;
}