@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');


nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 1000px;
    border: solid 1px #999;
    padding-bottom: 0;
    font-family: 'Amiri', serif;
    padding: 0;
}

nav iframe{
    margin-left: 30px;
}

header p{
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    color: white;
    width: 40%;
}

h1{
    font-family: 'Italianno', "cursive";
    font-weight: normal;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 0;
    line-height: 20px;
    margin-bottom: 2px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 10px;
    padding-left: 30px;
}

nav div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.Titre{
    font-size: 60px;
    font-weight: 500;
}

.SousTitre{
    font-size: 25px;
}

.map{
    width: 10%;
    height: 10%;
}

.logo{
    display: flex;
    margin-top: 5px;
    margin-left: 25px;
    justify-items: right;
}

#img3{
    height: 150px;
    width: 950px;
    margin-left: 222px;
    object-fit: cover;
    
}

#icone{
    max-width: 15px;
    max-height: 20px;
    padding: 0px 5px ;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    height: 300px;
    margin: 30px 400px;
    padding: 0;
}

.grid-item{
    width: 200px;
    height: 300px;
    grid-gap: 4px;
}