@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

header {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: solid 1px #999;
}
h1{
    font-family: 'Italianno', cursive;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    width: 10px;
    height: auto;
    margin: 30px auto;
}

.grid-item{
    width: 200px;
    height: 100px;
}