@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap");
h1 {
  font-family: 'Italianno', "cursive";
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
  padding-bottom: 0;
  line-height: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Italianno', "cursive";
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
  padding-bottom: 0;
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maitree', serif;
}

.Titre {
  font-size: 58px;
  font-weight: 500;
}

.SousTitre {
  font-size: 40px;
}

#map {
  width: 98%;
  height: 500%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-items: right;
}

#img3 {
  height: 150px;
  width: 1920px;
  -o-object-fit: cover;
     object-fit: cover;
}

#img4 {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 1890px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#icone {
  max-width: 50px;
  max-height: 100px;
  padding: 0px 5px;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

header p {
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: absolute;
  text-align: center;
  font-family: 'Maitree', serif;
  margin: auto;
  left: 0;
  right: 0;
  top: 5%;
  color: white;
  width: 40%;
}

.article_propos {
  text-align: center;
}

.article_propos h1 {
  font-size: 60px;
  margin-top: 50px;
}

.article_propos h2 {
  margin-top: 50px;
}

.article_propos p {
  margin-top: 30px;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 10px;
  height: 300px;
  margin: 30px 700px;
  padding: 0;
  grid-gap: 20px;
}

.grid-item {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-gap: 4px;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}

.grid-item img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-item p {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.article_propos {
  margin: auto 250px;
}

.genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0 5px;
  margin-left: 250px;
  gap: 10px;
  margin-top: 10px;
}

section div {
  margin-bottom: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 170px;
}

.form {
  border: solid 1px black;
  width: 700px;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#text {
  height: 200px;
}

label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;
  max-width: 300px;
  max-height: 100px;
  outline: none;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 100px;
  resize: none;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}

.genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0 5px;
  margin-left: 250px;
  gap: 10px;
  margin-top: 10px;
}

section div {
  margin-bottom: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 170px;
}

.form {
  border: solid 1px black;
  width: 700px;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#text {
  height: 200px;
}

label,
textarea {
  font-size: .8rem;
  letter-spacing: 1px;
  max-width: 300px;
  max-height: 100px;
  outline: none;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 100px;
  resize: none;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}
/*# sourceMappingURL=main.css.map */