@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap");
h1 {
  font-family: "Italianno", "cursive";
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
  padding-bottom: 0;
  line-height: 20px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Italianno", "cursive";
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
  padding-bottom: 0;
  line-height: 20px;
  margin-bottom: 2px;
  font-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Maitree", serif;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 1010px;
  border: solid 1px #999;
  padding-bottom: 0;
  font-family: "Amiri", serif;
  padding: 0;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
nav iframe {
  margin-bottom: 35px;
}
nav div ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul {
  font-size: 35px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 30px;
}

.Titre {
  font-size: 58px;
  font-weight: 500;
}

.SousTitre {
  font-size: 40px;
}

#map {
  width: 98%;
  height: 500%;
}

.logo {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-items: right;
}

#img3 {
  height: 150px;
  width: 1698px;
  margin-left: 222px;
  -o-object-fit: cover;
     object-fit: cover;
}

#img4 {
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 1890px;
  top: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#icone {
  max-width: 50px;
  max-height: 100px;
  padding: 0px 5px;
}

header p {
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: absolute;
  text-align: center;
  font-family: "Maitree", serif;
  margin: auto;
  left: 0;
  right: 0;
  top: 5%;
  color: white;
  width: 40%;
}

.article_propos {
  text-align: center;
}
.article_propos h1 {
  font-size: 60px;
  margin-top: 50px;
}
.article_propos h2 {
  margin-top: 50px;
}
.article_propos p {
  margin-top: 30px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 10px;
  height: 300px;
  margin: 30px 700px;
  padding: 0;
  grid-gap: 20px;
}

.grid-item {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-gap: 4px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.3);
}
.grid-item img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-item p {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: auto;
}

.article_propos {
  margin: auto 250px;
}

.genre {
  display: flex;
  flex-direction: row;
  padding-left: 0 5px;
  margin-left: 250px;
  gap: 10px;
  margin-top: 10px;
}

section div {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.form {
  border: solid 1px black;
  width: 700px;
  text-align: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#text {
  height: 200px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  max-width: 300px;
  max-height: 100px;
  outline: none;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 100px;
  resize: none;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.genre {
  display: flex;
  flex-direction: row;
  padding-left: 0 5px;
  margin-left: 250px;
  gap: 10px;
  margin-top: 10px;
}

section div {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.form {
  border: solid 1px black;
  width: 700px;
  text-align: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#text {
  height: 200px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  max-width: 300px;
  max-height: 100px;
  outline: none;
}

textarea {
  padding: 10px;
  width: 300px;
  height: 100px;
  resize: none;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}