.article_propos{
        text-align: center;

            h1{
                font-size: 60px;
                margin-top: 50px;
            }

                h2{
                    margin-top: 50px;
                }
                
                    p{
                        margin-top: 30px;
                    }
}