footer{
    display: flex;
    width: 99%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content:space-between;
    align-items: center;
    border: 3px solid black;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);

    .title{
        flex-direction: column;
        margin-left: 50px;
        line-height: 0;
    }

    .logofooter{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .iconefooter{
        max-width: 30px;
        max-height: 50px;
    }

    ul{
        list-style: none;
        margin-right: 30px;
    }
    
    #maps{
        max-width: 30px;
        max-height: 50px;
        padding: 0 5px;
    }
}

@media (min-width: 500px) and (max-width: 890px){
    footer{
        display: flex;
        width: 99%;
        margin: 0 auto;
        flex-direction: column;
        margin-top: 100px;
        justify-content:space-between;
        align-items: center;
        border: 3px solid black;
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        box-shadow: 10px -10px 5px rgba(0, 0, 0, 0.3);
    }
    
    #maps{
        margin-top: 20px;
    }
    ul{
        margin-top: 20px;
    }
}

@media (min-width: 320px) and (max-width: 500px){

}
