header p {
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    position: absolute;
    text-align: center;
    font-family: 'Maitree', serif;
    margin: auto;
    left: 55%;
    right: 0;
    top: 5%;
    color: white;
    width: 40%;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 25px;
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 500px) and (max-width: 890px){

   header p{
     height: 40vh;
     width: 60%;
     height: 110px;
     margin-right: 50px;
     top: 1%;
     font-size: 15px;
   }
 }