header p{
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    position: absolute;
    text-align: center;
    font-family: 'Maitree', serif;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    color: white;
    width: 40%;
}