nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 1010px;
    border: solid 1px #999;
    padding-bottom: 0;
    font-family: 'Amiri', serif;
    padding: 0;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

        iframe{
            margin-bottom: 35px;
        }

        div ul{
            list-style: none;
            display: flex;
            flex-direction: row;
        }
        ul{
            font-size: 35px;
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-top: 0;
            padding-top: 20px;
            padding-left: 30px;
        }
    }

.Titre{
    font-size: 58px;
    font-weight: 500;
}
.SousTitre {
    font-size: 40px;
}

#map {
    width: 98%;
    height: 500%;
}

.logo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-items: right;
}

#img3 {
    height: 150px;
    width: 1698px;
    margin-left: 222px;
    object-fit: cover
}

#img4 {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 1890px;
    top: 5px;
    object-fit: cover;
}

#icone {
    max-width: 50px;
    max-height: 100px;
    padding: 0px 5px;
}